doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")
	head
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(content="width=device-width, initial-scale=1" name="viewport")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
		meta(name="cmsmagazine" content="d8e7426ec72ad3e4ea38b09ebf01284c")
		title Font Family: PT Serif
		base(href="https://nice-studio.github.io/PTSerif/")
		link(rel="shortcut Icon" href="https://nice-studio.github.io/PTSerif/favicon.ico" type="image/x-icon")
		link(rel="icon" href="https://nice-studio.github.io/PTSerif/favicon.ico" type="image/x-icon")
		meta(name="robots" content="index, follow")
		meta(name="title" content="Font Family: PT Serif")
		meta(name="description" content="Font Family: PT Serif")
		meta(name="keywords" content="PT Serif")
		meta(property="og:title" content="Font Family: PT Serif")
		meta(property="og:description" content="Font Family: PT Serif")
		style
			include ../../dist/css/pt-serif.css
			!= "body{ font-family: 'PT Serif'; font-size: 26px; }"
	body
		h1 Font Family: PT Serif
		p
			|&nbsp; &nbsp; &nbsp; &nbsp; 400 italic
			br
			i
				include text
		p
			|&nbsp; &nbsp; &nbsp; &nbsp; 700 italic
			br
			b
				i
					include text
		p
			|&nbsp; &nbsp; &nbsp; &nbsp; 400 regular
			br
			include text
		p
			|&nbsp; &nbsp; &nbsp; &nbsp; 700 regular
			br
			b
				include text